Repository nokia-wroclaw/innovativeproject-inventory-of-supplies, pull requests merged in 2019-03, with the labels that each got.

#30 Initiated backend environment with Django and DRF.
  backend/.gitignore
  backend/Dockerfile
  backend/backend/__init__.py
  backend/backend/settings/__init__.py
  backend/backend/settings/base.py
  backend/backend/settings/development.py
  backend/backend/settings/production.py
  backend/backend/settings/testing.py
  backend/backend/urls.py
  backend/backend/wsgi.py
  backend/manage.py
  backend/requirements/base.txt
  backend/requirements/development.txt
  backend/requirements/production.txt
  backend/requirements/testing.txt
Labels: backend, must-have

#31 Added docker-compose.yml for running dockerized PostgreSQL, NGINX and…
  README.md
  backend/backend/settings/development.py
  docker-compose.yml
  nginx.conf
Labels: must-have

#61 Add searching by part of supply name.
  .gitignore
  backend/supplies/pagination.py
  backend/supplies/serializers.py
  backend/supplies/tests.py
  backend/supplies/urls.py
  backend/supplies/views.py
Labels: backend
